<!-- Launches the create drivers and joystick from the same machine -->
<launch>

  <!-- Run the joystick node -->
  <node pkg="joy" type="joy_node" name="joystick">
    <!-- Set the joystick device name -->
		<param name="dev" value="/dev/input/js0"/>
  </node>

  <!-- Joystick to Create Driver -->
  <node pkg="create_teleop" type="create_teleop" name="create_teleop"/>

  <!-- Create state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="30.0"/>
    <!--param name="tf_prefix" type="string" value="" /-->
  </node>

  <!-- Create Driver -->
  <node pkg="create_node" type="create_node.py" name="create_node" >
    <param name="bonus" value="false" />
    <param name="~port" value="/dev/ttyUSB0" />
  </node>

</launch>
