<!-- Launch a basic bump bot first test with the Kinect mounted on the Create -->
<launch>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find create_urdf)/urdf/create.urdf.xacro'" />

  <!-- Launch the first test program -->
  <node pkg="create_kinect" type="first_test" name="first_test">
    <param name="enable_create" value="false"/>
    <param name="theta" value="-0.25"/>
    <param name="xl_min" value="-1.0"/>
    <param name="xl_max" value="-0.2"/>
    <param name="xr_min" value="0.2"/>
    <param name="xr_max" value="1.0"/>
    <param name="y_min" value="-0.1"/>
    <param name="y_max" value="0.4"/>
    <param name="z_min" value="0.5"/>
    <param name="z_max" value="2.5"/>
  </node>
</launch>
