<!-- launch an image publisher and subscriber -->
<launch>
  <!-- Sets the compression -->
  <param name="/compressed_listener/image_transport" value="compressed"/>
  <param name="camera/image/compressed_image_transport_jpeg_quality" value="50"/>

  <node pkg="create_webcam" type="webcam_publisher" name="webcam_publisher"/>
  <node pkg="create_webcam" type="subscriber" name="compressed_listener"/>
</launch>
